## 리스트 관련함수

In [6]:
# for 인덱스로 접근 
numbers=[10,20,30,40,50]
for i in range(len(numbers)):
    print(f"{i}: {numbers[i]}") # 0: 10, 1: 20, 2: 30, 3: 40, 4: 50

0: 10
1: 20
2: 30
3: 40
4: 50

In [7]:
# for 값으로 접근 
numbers=[10,20,30,40,50]
for num in numbers:
    print(num) # 10, 20, 30, 40, 50
    print(f"{num}:{num}") # 10:10, 20:20, 30:30, 40:40, 50:50

10
10:10
20
20:20
30
30:30
40
40:40
50
50:50

In [8]:
# 인덱스 번호와 원소를 모두 탐색
numbers=[10,20,30,40,50]
for i,v in enumerate(numbers):
    print(f"{i}:{v}") # 0:10, 1:20, 2:30, 3:40, 4:50

0:10
1:20
2:30
3:40
4:50

In [13]:
#리스트 원소에 대한 합계 평균 구하기 
# 방법에 따라 주석처리 해서 실행하기!!!
scores=[100,82,98,76,51]
total=0

# 방법 1 : 인덱스로 접근 
for score in range(len(scores)):
    total+=scores[score]
print ("total:",total) # total: 407

# 방법 2 : 값으로 접근
# for score in scores:
#     total+=score
# print("total:",total) # total: 407

# 방법 3: 인덱스와 값으로 접근
# for i, v in enumerate(scores):
#     #1 
#     total+=v 
#     #2 
#     total+=scores[i]
# print("total:",total) # total: 407 -> #1
# print ("total:",total) # total: 407 -> #2

total: 407

In [19]:
# 2차원 리스트 탐색
mydata=[
    [88,72,83,90],
    [63,77,72,80]
]
row_size=len(mydata)
print("size=",row_size) # row_size= 2

for i in range(row_size):
    print(f"--- {i}번째 학생 성적 ---")
    total=0
    col_size=len(mydata[i]) 
    print("size=",col_size) # col_size= 4
    for j in range(col_size):
        total+=mydata[i][j]
        print(f"{j}번째 과목 성적: {mydata[i][j]}")

size= 2
--- 0번째 학생 성적 ---
size= 4
0번째 과목 성적: 88
1번째 과목 성적: 72
2번째 과목 성적: 83
3번째 과목 성적: 90
--- 1번째 학생 성적 ---
size= 4
0번째 과목 성적: 63
1번째 과목 성적: 77
2번째 과목 성적: 72
3번째 과목 성적: 80

## 리스트 관련 함수

In [2]:
# len() 리스트의 길이 조회
mylist=[1,2,3]
print("len:",len(mylist)) # len: 3

# 빈 리스트의 경우 0 반환
mylist1=[]
print("len:",len(mylist1)) # len: 0

#중첩 리스트의 경우 최상위 레벨의 원소 개수 조회
mylist2=[1,2,[10,20,30],4]
print("len:",len(mylist2)) # len: 4

len: 3
len: 0
len: 4

In [22]:
# 리스트의 원소 삭제 del() 
mylist=[1,2,3]
del(mylist[1]) # 2번째 원소 삭제-> 2
print("del:",mylist) # del: [1, 3]

del: [1, 3]

In [25]:
# 리스트 원소의 정렬 sorted() 
# 원본 유지, 정렬결과 적용된 복사본 리턴

mylist=[10,20,15,5]
print(mylist) # [10, 20, 15, 5]

# 오름 차순 정리
asc_sorted=sorted(mylist)
print(asc_sorted) # [5, 10, 15, 20]

# 내림차순 정리, 역순정렬
desc_sorted=sorted(mylist, reverse=True)
print(desc_sorted) # [20, 15, 10, 5]

# 원본 확인
print(mylist) # [10, 20, 15, 5]

[10, 20, 15, 5]
[5, 10, 15, 20]
[20, 15, 10, 5]
[10, 20, 15, 5]

In [35]:
# max(), min(), sum() 함수
mylist=[10,20,15,5]
print("최대값:",max(mylist)) # 최대값: 20
print("최소값:",min(mylist)) # 최소값: 5
print("합계:",sum(mylist)) # 합계: 50
print("평균:",sum(mylist)/len(mylist)) # 평균: 12.5

my_str=["appele","banana","cherry"]
print("최대값:",max(my_str)) 
print("최소값",min(my_str))
print("합계",sum(my_str)) # TypeError , 문자열은 합계 계산불가

최대값: 20
최소값: 5
합계: 50
평균: 12.5
최대값: cherry
최소값 appele

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 리스트, 튜플 상호 변환 
# 반복 가능한 자료형을 리스트로 변환
a="Python-list"
b="Python-tuple"
print("문자열->리스트:",list(a)) #['P', 'y', 't', 'h', 'o', 'n', '-', 'l', 'i', 's', 't']
print("문자열->튜플:",tuple(b)) # ('P', 'y', 't', 'h', 'o', 'n', '-', 't', 'u', 'p', 'l', 'e')

문자열->리스트: ['P', 'y', 't', 'h', 'o', 'n', '-', 'l', 'i', 's', 't']
문자열->튜플: ('P', 'y', 't', 'h', 'o', 'n', '-', 't', 'u', 'p', 'l', 'e')

In [ ]:
# 튜플을 리스트 혹은 튜플로 변환
c=(1,2,3)
list_c=list(c)
tuple_c=tuple(c)
print(tuple_c[1]) #2, 튜플도 대괄호로 접근
print(list_c[1]) #2 
print("튜플->리스트:",list_c) # 튜플->리스트: [1, 2, 3]
print("튜플->튜플:",tuple_c) # 튜플->튜플: (1, 2, 3)

1
2
2
튜플->리스트: [1, 2, 3]
튜플->튜플: (1, 2, 3)

In [ ]:
# 1부터 10전까지 1씩 증가하는 range 객체 생성
k=range(1,10)
print("type",type(k)) # type <class 'range'>
print(k) # range(1, 10)

# 생성된 수열 객체를 리스트로 변환
z=list(k)
print("range->list:",z) # range->list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#두개를 한꺼번에 같이 사용해서 3씩 증가하는 수열 생성
r=list(range(1,10,3))
print("range with step->list:",r) # range with step->list: [1, 4, 7]

type <class 'range'>
range(1, 10)
range->list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
range with step->list: [1, 4, 7]

### 객체 (Object)
객체 = 필요에 따라 다른 변수와 함수를 내장하고 있는 특수한 변수 

파이썬은 객체지향 언어
>객체지향 언어 : 현실세계에 존재하는 것을 프로그래밍 언어로 표현한 것

In [ ]:
# count(원소) : 리스트 내 특정 원소의 개수 반환
mylist=[1,2,3,4,4,5,5,5]
print("5의 개수 :", mylist.count(5)) # 5의 개수 : 3

# 존재하지 않는 원소는 0 반환
print("10의 개수 :", mylist.count(10)) # 10의 개수 : 0

5의 개수 : 3
10의 개수 : 0

In [ ]:
# index(원소) : 리스트 내 특정 원소의 인덱스 반환
mylist=[1,2,3,4,4,5,5,5]
print("3의 인덱스:", mylist.index(3)) # 3의 인덱스: 
print("못찾아 인덱스:",mylist.index(6)) #ValueError: 6 is not in list

3의 인덱스: 2

ValueError: 6 is not in list

In [56]:
# append(원소) : 리스트 마지막에 원소 추가 -> 원본 변경
mylist=[1,2,3]
mylist.append(4)
print("append:",mylist) # append: [1, 2, 3, 4]

#리스트를 append로 추가 할 경우, 2차 리스트로 삽입
mylist.append([5,6])
print("append 2차 리스트:",mylist) # append 2차 리스트: [1, 2, 3, 4, [5, 6]]

append: [1, 2, 3, 4]
append 2차 리스트: [1, 2, 3, 4, [5, 6]]

In [ ]:
# insert(인덱스,원소) : 리스트 특정 위치에 원소 삽입 -> 원본 변경
mylist=[1,2,3]
mylist.insert(1,10) # 1번 인덱스 위치에 10 삽입
print("중간삽입:",mylist) # 중간삽입: [1, 10, 2, 3]

mylist.insert(0,20) # 0번 인덱스 위치에 20 삽입
print("맨 앞 삽입:",mylist) # 맨 앞 삽입: [20, 1, 10, 2, 3]

mylist.insert(len(mylist),30) # 맨 뒤에 30 삽입 , append와 동일
print("맨 뒤 삽입:",mylist) # 맨 뒤 삽입: [20, 1, 10, 2, 3, 30]

# 음수 인덱스도 가능
mylist.insert(-1,25) # -1은 끝이지만 지정 인덱스 앞에 삽입
print("지정 인덱스 앞에 삽입:",mylist) # 지정 인덱스 앞에 삽입: [20, 1, 10, 2, 3, 25, 30]

중간삽입: [1, 10, 2, 3]
맨 앞 삽입: [20, 1, 10, 2, 3]
맨 뒤 삽입: [20, 1, 10, 2, 3, 30]
끝에서 두번째 삽입: [20, 1, 10, 2, 3, 25, 30]

In [6]:
# pop(인덱스) : 리스트 특정 위치의 원소 삭제 후 반환 -> 원본 변경
mylist=[1,2,3,4,5]
k=mylist.pop(2) #2번 인덱스 원소 삭제 
print("삭제된 원소 반환:",k) # 삭제된 원소 반환: 3
print("원본변경:",mylist) # 원본변경: [1, 2, 4, 5]

#인덱스 미지정시 마지막 원소 삭제
k=mylist.pop()
print("삭제된 원소 반환:",k) # 삭제된 원소 반환: 5
print("원본변경:",mylist) # 원본변경: [1, 2, 4]

#존재하지 않는 인덱스 지정시 IndexError 발생
k=mylist.pop(4) # IndexError: pop index out of range

삭제된 원소 반환: 3
원본변경: [1, 2, 4, 5]
삭제된 원소 반환: 5
원본변경: [1, 2, 4]

IndexError: pop index out of range

In [7]:
# extend(리스트) : 리스트 확장 , 원본 변경
# append와 다르게 리스트를 풀어서 각각의 원소를 추가
mylist=[1,2,3]
mylist.extend([4,5,6])
print(mylist) # [1, 2, 3, 4, 5, 6]

#문자열도 확장 가능
mylist.extend("abc")
print(mylist) # [1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [ ]:
# remove(원소) : 주어진 첫번째 원소 삭제 -> 원본 변경
mylist=[1,2,3,10,1,2,3,10]
mylist.remove(10)
print("첫번째 10 삭제:",mylist) # 첫번째 10 삭제: [1, 2, 3, 1, 2, 3, 10]

# 존재하지 않는 원소 삭제시 ValueError 발생
mylist.remove(20) # ValueError: list.remove(x): x not in list

첫번째 10 삭제: [1, 2, 3, 1, 2, 3, 10]

ValueError: list.remove(x): x not in list

In [10]:
# reverse() : 리스트 원소 역순 정렬 -> 원본 변경
mylist=[1,2,3,4,5]
mylist.reverse()
print("역순정렬:",mylist) # 역순정렬: [5, 4, 3, 2, 1]

# 반환값은 None
result=mylist.reverse()
print("반환값:",result) # 반환값: None

# 숫자 뿐만 아니라 문자열도 역순 정렬 가능
str_list=["apple","banana","cherry"]
str_list.reverse()
print("문자열 역순정렬:",str_list) # 문자열 역순정렬: ['cherry', 'banana', 'apple']

역순정렬: [5, 4, 3, 2, 1]
반환값: None
문자열 역순정렬: ['cherry', 'banana', 'apple']

In [ ]:
# sort() : 리스트 원소 정렬(오름차순, 내림차순) -> 원본 변경
mylist=[10,20,15,5]
mylist.sort()
print("반환값:",mylist.sort())
print("오름차순:",mylist) # 오름차순: [5, 10, 15, 20]
mylist.sort(reverse=True)
print("내림차순:",mylist) # 내림차순: [20, 15, 10, 5]

# 숫자열+ 문자열 혼합 리스트 정렬시 TypeError 발생
mixed_list=[10,"apple",5,"banana"]
mixed_list.sort() # TypeError 발생

반환값: None
오름차순: [5, 10, 15, 20]
내림차순: [20, 15, 10, 5]

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
#split() : 문자열을 주어진 글자를 기준으로 분리하여 리스트로 변환 -> 원본 변경
str1="apple,banana,cherry"
text_list=str.split(",")
print("str->list",text_list) # str->list ['apple', 'banana', 'cherry']

#연속된 구분자가 있을 경우 빈 문자열도 원소로 포함
str2="apple,,banana,,cherry"
text_list2=str2.split(",")
print("연속된 구분자:",text_list2) # 연속된 구분자: ['apple', '', 'banana', '', 'cherry']

#maxsplit 인자 사용-> 분리횟수 제한 가능 
str3="apple,banana,cherry,grape"
text_list3=str3.split(",",maxsplit=2) # 분리횟수 2회로 제한
print("maxsplit=2:",text_list3) # maxsplit=2: ['apple', 'banana', 'cherry,grape']

str->list ['apple', 'banana', 'cherry']
연속된 구분자: ['apple', '', 'banana', '', 'cherry']
maxsplit=2: ['apple', 'banana', 'cherry,grape']

In [1]:
#join() : 리스트를 문자열로 결합 
words=['apple', 'banana', 'cherry']
dl="#"
result=dl.join(words)
print(result) # apple#banana#cherry
print(words) # ['apple', 'banana', 'cherry'] 원본은 변경되지 않음

#리스트의 모든 원소가 문자열이어야 함 
# 숫자를 결합 -> str() 변환 필요
numbers=[1,2,3]
result=",".join(str(num) for num in numbers)
print("숫자 결합:",result) # 숫자 결합: 1,2,3

apple#banana#cherry
['apple', 'banana', 'cherry']
숫자 결합: 1,2,3

In [ ]:
#divmod() : 두 수의 몫과 나머지를 튜플로 반환
c=divmod(7,3)
print("(몫,나머지):",c) # (몫,나머지): (2, 1)

# 시간변환 식
minutes,seconds=divmod(125,60)
print(minutes,"분",seconds,"초") # 2 분 5 초

# 단위변환
kg,g=divmod(12345,1000)
print(kg,"kg",g,"g") # 12 kg 345 g

# 음수에도 적용 가능
neg_result=divmod(-7,3)
print("음수몫나머지:",neg_result) # 음수몫나머지: (-3, 2)

(몫,나머지): (2, 1)
2 분 5 초
12 kg 345 g
음수몫나머지: (-3, 2)

## 문자열의 이해 
### 문자열
쌍따옴표나 홑따옴표로 문장 감싸기,
> 앞,뒤로 서로 다른 따옴표는 에러 발생

> 쌍따옴표로 감쌀 때는 내부에 홑따옴표 사용 가능

> 홑따옴표로 감쌀 때는 내부에 쌍따옴표 사용 가능

In [ ]:
# 따옴표 에러
# msg1='Hello, world!"  # 에러발생
# msg2="Hello, world!'  # 에러발생

# 혼용사용
msg3='He said,"Hello"'
msg4="It's a nice day"

# 삼중 따옴표 사용
msg5="""He said, "It's a nice day" """ # He said, "It's a nice day" 
print(msg5)

He said, "It's a nice day"

In [ ]:
# 반복문 문자열 탐색 
mymsg="Hello" # [H, e, l, l, o]<- 이렇게 저장됨
for msg in mymsg:
    print(msg) # H, e, l, l, o

# 인덱스로 접근
for i in range(len(mymsg)):
    print(mymsg[i]) # H, e, l, l, o

H
e
l
l
o
H
e
l
l
o

In [ ]:
# 문자열의 덧셈 
str1="Hello"
str2="World"
print(str1+" "+str2) # Hello World
print(str1+str2) # HelloWorld

# 따옴표로 감싸면 무조건 문자열로 인식
pay="1000"
bonus="200"
print(pay+bonus) # 1000200
print(int(pay)+int(bonus)) # 1200

# 문자열 + 다른 데이터 타입 불가능
print(str1+100) # TypeError
print(pay+200) # TypeError

# 혼용사용 , str() 변환 필요
print(str1+str(100)) # Hello100

# 여러 문자열 결합
greeting="안녕"+"하세요"+"Python"
print(greeting) # 안녕하세요Python

Hello World
1000200
1200

TypeError: can only concatenate str (not "int") to str

In [14]:
# 문자열의 곱셈
name="Python"
print(name*3) # PythonPythonPython

# 0또는 음수 : 빈문자열 반환    
print(name*0) #  빈문자열 출력
print(name*-2) #  빈문자열 출력

# 실수 사용 불가 
# print("Python"*2.2) # TypeError, 정수만 가능
# print("Python"*"Python") # TypeError, 문자열끼리의 곱셈은 불가능

# 문자열의 곱셈 예시 2
print("-"*10) # ----------

PythonPythonPython


----------

In [105]:
# 이스케이프 문자

# \n : 줄바꿈(개행문자)
print("Hello\nWorld")

# \t : 탭 문자(스페이스 4칸 정도)
print("Hello\tWorld") # Hello    World

# \" : 쌍따옴표 출력
print("Hello \"World\" ") # Hello "World"

# \' : 홑따옴표 출력
print('Hello \'World\' ') # Hello 'World'

# \\ : 역슬래시 출력
print("Hello \\ World") # Hello \ World

# 이상한 이스케이프
print("Hello\qWorld") # Hello\qWorld

Hello
World
Hello	World
Hello "World"
Hello 'World'
Hello \ World
Hello\qWorld

<>:19: SyntaxWarning: invalid escape sequence '\q'
<>:19: SyntaxWarning: invalid escape sequence '\q'
/var/folders/sz/hrcmd42n7wq5zq5yyzkkd7sr0000gn/T/ipykernel_44987/2188243476.py:19: SyntaxWarning: invalid escape sequence '\q'
  print("Hello\qWorld") # Hello\qWorld

In [ ]:
# 문자열 인덱싱 -> 문자열 변수 이름뒤에 대괄호 [] 사용
mystr="Python"
print(mystr[0]) # P 
print(mystr[1]) # y
print(mystr[-1]) # n 
print(mystr[-2]) # o

# 문자열 슬라이싱
mystr="Hello World"
print(mystr[0:5]) # Hello , 0~4번 인덱스
print(mystr[6:11]) # World , 6~10번 인덱스
print(mystr[:5]) # Hello , 시작인덱스 생략
print(mystr[6:]) # World , 끝인덱스 생략
print(mystr[:]) # Hello World , 처음부터 끝까지 
print(mystr[::2]) # HloWrd , 2칸씩 건너뛰기
print(mystr[::-1]) # dlroW olleH , 역순출력

# 존재하지 않는 인덱스 지정시 IndexError 발생
print(mystr[20]) # IndexError: string index out of range

# 슬라이싱에 사용되는 인덱스 번호의 순서가 잘못되면 출력되는 내용 없음
print(mystr[5:2]) # 빈문자열 출력 , 시작인덱스가 끝인덱스보다 큼

P
y
n
o
Hello
World
Hello
World
Hello World
HloWrd
dlroW olleH

IndexError: string index out of range

## 문자열 포맷팅
특정 값이 치환될 형식 문자를 포함한 문자열의 형식을 미리 정해 놓고 형식 문자에 특정 변수 값을 적용하여 완성된 문자열을 만드는 방법

In [108]:
# % 문자열 포맷팅 - %d: 정수형
str="나는 %d세 입니다."
print(str % 25) # 나는 25세 입니다.

# 두개 이상은 소괄호로 묶기
str="나는 %d세이고, 키는 %dcm 입니다."
print(str % (20,170)) # 나는 20세이고, 키는 170cm 입니다.

나는 25세 입니다.
나는 20세이고, 키는 170cm 입니다.

In [ ]:
# %f - 실수형
money=1234.56789
print("금액은 %f원입니다." % money) #금액은 1234.567890원입니다.

금액은 1234.567890원입니다.

In [110]:
# %s - 문자열형
name="사과"
print("이 과일은 %s입니다." % name) # 이 과일은 사과입니다.

이 과일은 사과입니다.

In [ ]:
# %% - 문자 % 출력
print("오늘 비올 확률은 50%%입니다." %())
print("오늘 비올 확률은 50%%입니다.") # 오늘 비올 확률은 50%%입니다.

오늘 비올 확률은 50%입니다.
오늘 비올 확률은 50%%입니다.

In [ ]:
# 두 개 이상의 형식문자 사용
str3="%s 날짜는 %d년 %d월 %d일 입니다."
print(str3 % ("오늘",2025,6,27)) # 오늘 날짜는 2025년 6월 27일 입니다.

# wrong_str3="%d 날짜는 %d년 %d월 %d일 입니다."
# print(wrong_str3 % ("오늘",2025,6,27)) # TypeError

# 값의 개수가 형식 문자 개수와 맞지 않을 때 TypeError 발생
# print(str3 % ("오늘",2025,6)) # TypeError

오늘 날짜는 2025년 6월 27일 입니다.

TypeError: not enough arguments for format string

In [ ]:
# 정수형 %d에 자릿수 지정
# %nd: 출력되는 숫자를 n자리로 맞추어 , 오른쪽 정렬, 빈칸은 공백으로 채움
print("[%10d]원을 입금했습니다." % 1000)
print("[%10d]원을 입금했습니다." % 1222222222222) #초과해도 그냥 출력 , 자릿수 무시

[      1000]원을 입금했습니다.
[1222222222222]원을 입금했습니다.

In [23]:
# %0nd: 출력되는 숫자를 n자리로 맞추어, 오른쪽 정렬, 빈칸은 0으로 채움
print("[%010d]원을 입금했습니다." % 1000) # [0000001000]원을 입금했습니다.
print("[%310d]원을 입금했습니다." % 1000) # 에러는 안나오는데, 0이외의 다른 숫자 사용불가, 310자리로 인식함

# %-nd: 출력되는 숫자를 n자리로 맞추어, 왼쪽 정렬, 빈칸은 공백으로 채움
print("[%-10d]원을 입금했습니다." % 1000) # [1000      ]원을 입금했습니다.  

# %-0nd: 출력되는 숫자를 n자리로 맞추어, 왼쪽 정렬, 빈칸은 0으로 채움
print("[%-010d]원을 입금했습니다." % 1000) # [1000      ]원을 입금했습니다.  0은 무시됨

[0000001000]원을 입금했습니다.
[                                                                                                                                                                                                                                                                                                                  1000]원을 입금했습니다.
[1000      ]원을 입금했습니다.
[1000      ]원을 입금했습니다.

In [24]:
# 문자열 자릿수 표현 
# %ns: 출력되는 문자열을 n자리로 맞추어 , 오른쪽 정렬, 빈칸은 공백으로 채움 
# 지정된 자릿수를 초과할 경우 그냥 출력 (자릿수 무시)
print("[%10s]님이 입장하였습니다." % "홍길동") # [      홍길동]님이 입장하였습니다.
print("[%10s]님이 입장하였습니다." % "이순신이다 충무공이순신 이순신") # [이순신이다 충무공이순신 이순신]님이 입장하였습니다.

# %-ns: 출력되는 문자열을 n자리로 맞추어 , 왼쪽 정렬, 빈칸은 공백으로 채움
print("[%-10s]님이 입장하였습니다." % "홍길동") # [홍길동      ]님이 입장하였습니다.

[       홍길동]님이 입장하였습니다.
[이순신이다 충무공이순신 이순신]님이 입장하였습니다.
[홍길동       ]님이 입장하였습니다.

In [ ]:
# 실수 자릿수 표현 
#%0.nf: 소수점 이하 n자리까지 표현, 나머지는 반올림
print("[%0.2f]원입니다." % 1234.56789) # [1234.57]원입니다.

#w.nf : 출력되는 전체 글자수를 w자리로 처리, 그 중 소수점 이하 값을 n 자리 까지로 설정
# 부족한 자릿수는 공백, 전체 출력은 오른쪽 정렬
print("[%10.2f]원입니다." % 1234.56789) # [   1234.57]원입니다.
print("[%12.3f]원입니다." % 1234.56789) # [     1234.568]원입니다.

# %-w.nf : 출력되는 전체 글자수를 w자리로 처리, 그 중 소수점 이하 값을 n 자리 까지로 설정
# 부족한 자릿수는 공백, 전체 출력은 왼쪽 정렬
print("[%-10.2f]원입니다." % 1234.56789) # [1234.57   ]원입니다.
print("[%-12.3f]원입니다." % 1234.56789) # [1234.568     ]원입니다.

[1234.57]원입니다.
[   1234.57]원입니다.
[    1234.568]원입니다.

In [25]:
# 0w.nf: 전체 자릿수 w, 소수점 이하 n자리, 빈칸은 0으로 채움
print("[%010.2f]원입니다." % 1234.56789) # [0001234.57]원입니다.
print("[%012.3f]원입니다." % 1234.56789) # [000001234.568]원입니다.

#왼쪽 정렬 %-0w.nf: 전체 자릿수 w, 소수점 이하 n자리, 0은 무시됨
print("[%-010.2f]원입니다." % 1234.56789) # [1234.57   ]원입니다.

[0001234.57]원입니다.
[00001234.568]원입니다.
[1234.57   ]원입니다.

In [175]:
#인덱스 번호를 사용한 문자열 포맷팅 -파이썬 만의 고유 방식
fmt="이 과자는 {0}이고, 가격은 {1}원 입니다."
rst=fmt.format("칸쵸","2000")
print(rst) # 이 과자는 칸쵸이고, 가격은 2000원 입니다.

이 과자는 칸쵸이고, 가격은 2000원 입니다.

In [16]:
#format 
msg1= "I eat {0} apples"
print(msg1.format(3)) # I eat 3 apples

# 같은 인덱스 번호 여러번 사용
msg2="I eat {0} apples. {0} are my favorite fruit."
print(msg2.format(5)) # I eat 5 apples. 5 are my favorite fruit.

I eat 3 apples
I eat 5 apples. 5 are my favorite fruit.

In [181]:
#인덱스 이름 사용
fmt="이 과자는 {name}이고, 가격은 {price}원 입니다."
rst=fmt.format(name="빈츠", price=3000)
print(rst) # 이 과자는 빈츠이고, 가격은 3000원 입니다.

# 순서는 영향이 없다.
msg3="우리 엄마는 {age_1}세이고,이름은 {name_1}입니다. 우리 아빠는 {age_2}세이고, 이름은 {name_2}입니다."
print(msg3.format(name_2="김철수",age_1=40,age_2=42,name_1="김유리"))

이 과자는 빈츠이고, 가격은 3000원 입니다.
우리 엄마는 40세이고,이름은 김유리입니다. 우리 아빠는 42세이고, 이름은 김철수입니다.

In [ ]:
# 인덱스 번호와 이름의 혼합 사용

msg4="{0}은 {y}년 {m}월 {d}일입니다."
print(msg4.format("생일",y=2024,m=5,d=30))

#
fmt5="{1} {name}는 이 {0}입니다."
rst=fmt5.format("책","좋은", name="교과서")
print(rst) # 좋은 교과서는 이 책입니다.



#f포맷팅
name="아무개"
age=24
print(f"내 이름은 {name}이고, 나이는 {age}세 입니다.")

#표현식 계산 가능
name="han"
age=24
print(f"내 이름은 {name.upper()}이고, 내년 나이는 {age+1}세 입니다.") 
# 내 이름은 HAN이고, 내년 나이는 25세 입니다.

#왼쪽 정렬
name="홍길동"
print(f"[{name:<10}]님이 입장하였습니다.") # [홍길동      ]님이 입장하였습니다.

#오른쪽 정렬
print(f"[{name:>10}]님이 입장하였습니다.") # [      홍길동]님이 입장하였습니다.

# 가운데 정렬
print(f"[{name:^10}]님이 입장하였습니다.") # [   홍길동   ]님이 입장하였습니다.

생일은 2024년 5월 30일입니다.
좋은 교과서는 이 책입니다.
내 이름은 아무개이고, 나이는 24세 입니다.
내 이름은 HAN이고, 내년 나이는 25세 입니다.
[홍길동       ]님이 입장하였습니다.
[       홍길동]님이 입장하였습니다.

## 문자열 관련 함수

In [28]:
#len() 전체 글자수 세기
mystr="안녕 Hello"
print("글자수:",len(mystr)) # 글자수: 8

# 빈문자열 글자수 0
empty=""
print("빈문자열 글자수:",len(empty)) # 빈문자열 글자수: 0

글자수: 8
빈문자열 글자수: 0

In [9]:
# 정수를 문자열로 반환
u_ff=123
u_ff_s = str(u_ff)
print(u_ff_s,type(u_ff_s)) # 123 <class 'str'>

#불리언을 문자열로 반환
bool1=True
bool1_s=str(bool1)
print(bool1_s,type(bool1_s)) # True <class 'str'>

#실수를 문자열로 반환
num2=12.34
num2=str(num2)
print(num2,type(num2)) # 12.34 <class 'str'>

123 <class 'str'>
True <class 'str'>
12.34 <class 'str'>

In [14]:
#count() : 문자열 내 특정 글자 수 세기
mystr="Hello, world! Hello, Python!"
print("H카운트:",mystr.count("H")) #H 카운트 :2
print("h카운트:", mystr.count("h")) #h 카운트 :1

print("Hello 카운트:", mystr.count("Hello")) # Hello 카운트 :2
print("Python 카운트:", mystr.count("Python")) # Python 카운트 :1

H카운트: 2
h카운트: 1
Hello 카운트: 2
Python 카운트: 1

In [ ]:
# find() : 문자열 내 특정 글자의 인덱스 반환
# 찾지 못 할경우 -1 반환
mystr="Hello, world! Hello, Python!"
print(mystr.find("H")) # 0
print(mystr.find("u")) #-1
print(mystr.find("w")) #7

#단어의 시작위치 조회
print(mystr.find("Hello")) #0
print(mystr.find("Python")) #21

0
-1
7
0
21

In [ ]:
#rfind() : 문자열 내 특정 글자의 인덱스를 오른쪽에서 왼쪽으로 검색하여 반환
mystr="Hello, world! Hello, Python!"
print(mystr.rfind("H")) # 14
print(mystr.rfind("u")) #-1
print(mystr.rfind("w")) #7

mystr="Hello, Hello"
print(mystr.rfind("H")) # 7
print(mystr.rfind("e")) # 4
print(mystr.rfind("l")) # 9
print(mystr.rfind("o")) # 12

14
-1
7
7

In [30]:
#isupper() : 문자열이 모두 대문자인지 확인
str1="HELLO"
print(str1.isupper()) # True
str2="Hello"
print(str2.isupper()) # False
str3="123"
print(str3.isupper()) # False   
str4="HELLO!@#"
print(str4.isupper()) # True
str5="Hello123"
print(str5.isupper()) # False

True
False
False
True
False

In [31]:
# islower() : 문자열이 모두 소문자인지 확인
str1="hello"
print(str1.islower()) # True
str2="Hello"
print(str2.islower()) # False
str3="123"
print(str3.islower()) # False  
str4="hello!@#"
print(str4.islower()) # True
str5="hello123"
print(str5.islower()) # True

True
False
False
True
True

In [32]:
# upper() : 문자열을 모두 대문자로 변환
str1="hello"
print(str1.upper()) # HELLO
str2="Hello World"
print(str2.upper()) # HELLO WORLD
str3="hello123!@#"
print(str3.upper()) # HELLO123!@#

HELLO
HELLO WORLD
HELLO123!@#

In [33]:
# swapcase() : 대문자는 소문자로, 소문자는 대문자로 변환
str1="Hello"
print(str1.swapcase()) # hELLO
str2="HELLO world"
print(str2.swapcase()) # hello WORLD
str3="Python 123!@#"
print(str3.swapcase()) # pYTHON 123!@#

hELLO
hello WORLD
pYTHON 123!@#

In [35]:
# capitalize() : 문자열의 첫 글자만 대문자로 변환, 나머지는 소문자로 변환
str1="hello world"
print(str1.capitalize()) # Hello world
str2="hELLO wORLD"
print(str2.capitalize()) # Hello world
str3="123hello"
print(str3.capitalize()) # 123hello

Hello world
Hello world
123hello

In [36]:
#title() : 문자열의 각 단어의 첫 글자를 대문자로 변환, 나머지는 소문자로 변환
str1="hello world"
print(str1.title()) # Hello World
str2="hELLO wORLD"
print(str2.title()) # Hello World
str3="hello-world"
print(str3.title()) # Hello-World
str4="123hello world"
print(str4.title()) # 123Hello World

Hello World
Hello World
Hello-World
123Hello World

In [39]:
#공백제거 strip() : 문자열 양쪽 끝의 공백 제거
str1="   Hello World   "
print(str1.strip()) # Hello World
str2="\n\thello\n\t"
print(str2.strip()) # hello
str3="   Hello   World   "
print(str3.strip()) # Hello   World

#lstrip() : 문자열 왼쪽 끝의 공백 제거
str1="   Hello World   "
print(str1.lstrip()) # Hello World   
str2="\n\thello\n\t"
print(str2.lstrip()) # hello
str3="   Hello   World   "
print(str3.lstrip()) # Hello   World

#rstrip() : 문자열 오른쪽 끝의 공백 제거
str1="   Hello World   "
print(str1.rstrip()) #    Hello World
str2="\n\thello\n\t"
print(str2.rstrip()) #        hello
str3="   Hello   World   "
print(str3.rstrip()) #    Hello   World
str4="hello world  "
print(str4.rstrip()) # hello world

Hello World
hello
Hello   World
Hello World
hello

Hello   World
   Hello World

	hello
   Hello   World
hello world

In [44]:
# replace(old, new, count) : 문자열 내 특정 문자열을 다른 문자열로 변환
str1="Hello, world! Hello, Python!"
print(str1.replace("Hello","Hi")) # Hi, world! Hi, Python!

# 여러개 치환
str2= "apple banana apple grape apple"
print(str2.replace("apple","orange")) # orange banana orange grape orange

# count 인자 사용 -> 치환 횟수 제한
str3="apple banana apple grape apple"
print(str3.replace("apple","orange",2)) # orange banana orange grape apple

# 찾는 문자열 없을 경우 원본 반환
str4="Hello, world!"
print(str4.replace("Python","Java")) # Hello, world!

# 공백 제거
str5="   Hello World   "
print(str5.replace(" ","")) # HelloWorld

Hi, world! Hi, Python!
orange banana orange grape orange
orange banana orange grape apple
Hello, world!
HelloWorld

In [49]:
#split() : 문자열을 주어진 글자를 기준으로 분리하여 리스트로 변환 

#공백 기준
str1="Hello world Python programming"
print(str1.split()) # ['Hello', 'world', 'Python', 'programming']

# 구분자 지정
str2="apple,banana,cherry,grape"
print(str2.split(",")) # ['apple', 'banana', 'cherry', 'grape']

# 분리 횟수 제한
str3="apple-banana-cherry-grape"
print(str3.split("-",2)) # ['apple', 'banana', 'cherry-grape']

# 연속된 공백 처리
str4="Hello   world  Python    programming"
print(str4.split()) # ['Hello', 'world', 'Python', 'programming']

# 특수 문자로 분리
str5="apple@banana#cherry$grape"
print(str5.split("@")) # ['apple', 'banana#cherry$grape']

['Hello', 'world', 'Python', 'programming']
['apple', 'banana', 'cherry', 'grape']
['apple', 'banana', 'cherry-grape']
['Hello', 'world', 'Python', 'programming']
['apple', 'banana#cherry$grape']

In [55]:
# isnumeric() : 문자열이 숫자로만 구성되어 있는지 확인
str1="12345"
print(str1.isnumeric()) # True

# 문자 포함 
str2="123a45"
print(str2.isnumeric()) # False

# 공백 포함
str3="123 45"
print(str3.isnumeric()) # False

# 빈 문자열
str4=""
print(str4.isnumeric()) # False

# 소수점 포함
str5="123.45"
print(str5.isnumeric()) # False

# 음수 포함
str6="-12345"
print(str6.isnumeric()) # False

#유니코드 숫자 포함
str7="²³¼"
print(str7.isnumeric()) # True

True
False
False
False
False
False
True